# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin/
obj/
*links-anon*
*.bin
modularity_values_louvain_oriente.txt
modularity_values_directed_louvain.txt
*.tree
*renum*
snap/
config-doxygen
docs/
